Source: ros-noetic-ros-numpy
Section: misc
Priority: optional
Maintainer: Eric Wieser <wieser@mit.edu>
Build-Depends: debhelper (>= 9.0.0), ros-noetic-catkin
Homepage: http://wiki.ros.org/ros_numpy
Standards-Version: 3.9.2

Package: ros-noetic-ros-numpy
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python3-numpy, ros-noetic-geometry-msgs, ros-noetic-nav-msgs, ros-noetic-rospy, ros-noetic-sensor-msgs, ros-noetic-tf
Description: A collection of conversion function for extracting numpy arrays from messages
